.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(100, 100, 100);
    padding: 10px;
}
.jsvar{
    margin: auto;
    width: 10%;
    border: 3px solid rgb(24, 131, 173);
    padding: 2px;
    text-align: center;       
}

.waves-effectA{
    border: 10px solid rgb(173, 24, 24);
}