.jsvar{
    margin: auto;
    width: 10%;
    border: 3px solid rgb(31, 95, 11);
    padding: 2px;
    text-align: center;       
}

body{
    background-color: rgb(90, 156, 168);
}

.elem_list{
    color: rgb(72, 32, 117);
}